body {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  text-align: center;
  align-items: center;
}

table {
  border: 1px solid black;
  width: 50%;
  text-align: left;
}

tbody > *  {
  border: 1px solid black;
}


th, td {
  padding: 5px;
}


tfoot, thead * {
  text-align: center;
}

.column {
  font-weight: bold;
  width: 30%;
}

.col_val {
  width: 70%;
}

#description {
  width: 200px;
  height: 100px;
}
